<div class="main-container">
    <div class="nav-container">
        <ul>
            <!--Home would be marked active in all cases without the routerLinkActiveOptions attribute assignment because the URL is contained in the others...-->
            <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
            <li [routerLinkActive]="'active'"><a routerLink="About">About</a></li>
            <li [routerLinkActive]="'active'"><a routerLink="Contact">Contact</a></li>
            <li [routerLinkActive]="'active'"><a [routerLink]="['Courses']">Courses</a></li>
            <li [routerLinkActive]="'active'"><a routerLink="NonExistent">Error Page</a></li>
            <!--href refreshes the entire app, we then loose all the app-state data, etc. Do not use href...-->
            <li><a href="Home">Reload App</a></li>
            <span style="float: right">
                <li><button (click)="login()">Login</button></li>
                <li><button (click)="logout()">Logout</button></li>
            </span>
        </ul>
    </div>
    <div class="component-container">
        <router-outlet></router-outlet>
    </div>
</div>