<ng-content select=".first"></ng-content>

<input type="text" #TemplateVariable1 (keyup)="0">
<!-- binding the keyup event allows angular to pick up the value change for display in the string interpolation below...-->
<button (click)="sayHello(TemplateVariable1)">Say Hello</button>
<p>{{ TemplateVariable1.value }}</p>

<div setBackground>
    <label>DOB: </label>
    <input type="date" #dobInput (blur)="calculateAge()">
</div>
<div appHighlight appHover>
    <label>Age: </label>
    <input type="text" #ageInput>
</div>
<div [appHighlight2]="'yellow'" [defaultColor]="'pink'">
    @HostBinding and @HostListener example.
</div>

<ng-content select="#second-content"></ng-content>

<div [appClass]="{container: true, 'change-font': true }">
    <p>Create a custom ngClass directive.</p>
</div>

<div [appStyle]="{backgroundColor: 'red', color: 'white', fontWeight: 'bold'}">
    <p>Create a custom ngStyle directive.</p>
</div>

<button class="btn btn-notice" (click)="displayNotice()">Show notice</button>
<div class="info-container notice" *appIf="display">
    <h3>This is a notice.</h3>
    <p>This is a notice issues for all users.</p>
</div>