<div class="form">
    <h2 id="registration">Registration Form</h2>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <!--form groups allow us to validate the values together-->
        <div ngModelGroup="personalDetails" #personalDetail="ngModelGroup">
            <!-- ngForm.values.personalDetails.fname, .lname, .email, etc...-->
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" placeholder="First name..." [(ngModel)]="firstName" required
                #fname="ngModel">
            <!-- <div>
                <small *ngIf="fname.invalid && fname.touched">First Name is required.</small>
                <span>You entered: {{firstName}}</span>
            </div> -->

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" placeholder="Last name..." [(ngModel)]="lastName" required
                #lname="ngModel">
            <!-- <div>
                <small *ngIf="lname.invalid && lname.touched">Last Name is required.</small>
                <span *ngIf="lastName && lastName.length > 0">You entered: {{lastName}}</span>
            </div> -->

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email address..." [(ngModel)]="email" required
                email>

            <div>
                <small *ngIf="personalDetail.invalid && personalDetail.touched">Some of the required fields do not have
                    valid data.</small>
            </div>
        </div>

        <label for="country">Country</label>
        <select id="country" name="country" [ngModel]="defaultCountry">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="india">India</option>
            <option value="usa">USA</option>
            <option value="uk">UK</option>
        </select>
        <br>

        <label for="gender">Gender:</label>
        <span *ngFor="let gen of gender">
            <input type="radio" id="{{gen.id}}" value="{{gen.value}}" name="gender" [ngModel]="defaultGender">
            <label for="{{gen.id}}">{{gen.value}}</label>
        </span>
        <br><br>

        <label>Hobbies <i>(Optional)</i></label>
        <div class="form-inline">
            <label><input type="checkbox" value="sports" name="isSportsHobby" ngModel> Sports</label>
            <label><input type="checkbox" value="movies" name="isMoviesHobby" ngModel> Movies</label>
            <label><input type="checkbox" value="music" name="isMusicHobby" ngModel> Music</label>
        </div>

        <input type="submit" value="Submit" id="btn"><!--[disabled]="!myForm.valid"-->
    </form>
</div>