<div class="form">
    <h2 id="registration">Registration Form</h2>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
        <div formGroupName="personalDetails">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname" placeholder="First name..." formControlName="firstName">
            <div>
                <small
                    *ngIf="reactiveForm.get('personalDetails.firstName').invalid && reactiveForm.get('personalDetails.firstName').touched">
                    First Name is required.</small>
            </div>

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname" placeholder="Last name..." formControlName="lastName">

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email address..." formControlName="email">
        </div>

        <label for="country">Country</label>
        <select id="country" name="country" formControlName="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="india">India</option>
            <option value="usa">USA</option>
            <option value="uk">UK</option>
        </select>
        <br>

        <label for="gender">Gender:</label>
        <span *ngFor="let gen of genderList">
            <input type="radio" id="{{gen.id}}" value="{{gen.value}}" name="gender" formControlName="gender">
            <label for="{{gen.id}}">{{gen.value}}</label>
        </span>
        <br><br>

        <label>Hobbies <i>(Optional)</i></label>
        <div class="form-inline">
            <label><input type="checkbox" value="sports" name="isSportsHobby" formControlName="isSportsHobby">
                Sports</label>
            <label><input type="checkbox" value="movies" name="isMoviesHobby" formControlName="isMoviesHobby">
                Movies</label>
            <label><input type="checkbox" value="music" name="isMusicHobby" formControlName="isMusicHobby">
                Music</label>
        </div>

        <div formArrayName="skills">
            <ng-container *ngFor="let skill of reactiveForm.get('skills')['controls']; index as i">
                <input type="text" placeholder="add skill..." formControlName="{{i}}">
            </ng-container>
            <button (click)="addSkill()">+ Add Skill</button>
        </div>

        <input type="submit" value="Submit" id="btn"><!--[disabled]="!myForm.valid"-->
    </form>
</div>